
body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 700px;
}

h1{
  font-size: 39px;
  text-align: center;
  color: white;
  font-family: cursive;
}


.hide{
    display: none;
}
.pantalla{
position:center;
top:50% ;
left:50% ;
text-align: center;
color: white;
font-family: cursive;
font-size: 40px;
font-size: 26px;
}
.pantallaR{
  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 20px;
}

